:root {
  --padding-medium: 20px;
  --padding-small: 10px;
  --padding-mini: 5px;
  --padding-between-lines: 5px;
  --margin-user-card: 13px;
  --user-card-width: 500px;
  --avatar-size: 120px;
  --fade-width: 20px;
  --info-right-width: calc(var(--user-card-width) - var(--padding-small) - var(--avatar-size) - var(--fade-width))
}

body {
  background-color: rgb(250, 250, 250);
  font-family: 'Questrial', sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input, select {
  background-color: rgb(0, 0, 0, 0);
  font-family: inherit;
  border: none;
}

input:focus, select:focus{
  outline: none;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#home #icon {
  width: 40px;
  height: 40px;
  margin-right: var(--padding-small);
}

/*form*/
#home .search-bar {
  width: 700px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home .main-methods {
  display: flex;
  flex-direction: row;
}

/*green bg*/
#home .green {
  width: 500px;
  height: 40px;
  background-color: rgb(200, 220, 220);
  border-radius: 20px;
  overflow: hidden; 
  padding-left: 2px;
}

/*input*/
#home .keyword {
  width: 460px;
  height: 20px;
  margin: 10px var(--padding-medium);
  font-size: 17px;
}

#home .advance-methods {
  display: flex;
  flex-direction: column;
}

#home .advance-methods>div {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-small);
}

#home .advance-methods input {
  background-color: white;
  margin-top: 5px;
  overflow: hidden;
}

/*button*/
#home form .submit {
  font-size: 20px;
  padding-left: var(--padding-small);
}

#home form .submit:hover {
  font-weight: bold;
  cursor: pointer
}

#home .click-for-advance {
  padding: var(--padding-small);
  font-size: 13px;
  text-decoration: underline;
}

#home #drop-down {
  background-color: white;
  margin-top: var(--padding-mini);
}

#main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

#main #icon {
  width: 31px;
  height: 31px;
  margin-right: var(--padding-mini);
}

/*form*/
#main .search-bar {
  width: calc(var(--user-card-width) + 6px);
  margin: var(--padding-medium);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#main .main-methods {
  display: flex;
  flex-direction: row;
}

/*green bg*/
#main .green {
  width: 300px;
  height: 31px;
  background-color: rgb(200, 220, 220);
  border-radius: 20px;
  overflow: hidden; 
  padding-left: 2px;
}

/*input*/
#main .keyword {
  width: 280px;
  height: 15px;
  margin: 8px;;
}

#main .filter-warning {
  margin-left: 43px;
}

#main .click-for-advance {
  font-size: 11px;
  text-decoration: underline;
  display: flex;
  align-self: flex-end;
}

.click-for-advance:hover {
  cursor: pointer;
}

#main .advance-methods {
  margin: var(--padding-small);
  margin-left: 43px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 13px;
}

#main .advance-methods>div {
  padding: var(--padding-mini);
  display: flex;
  flex-direction: column;
}

#main .advance-methods input {
  background: white;
  margin-top: var(--padding-mini);
  font-size: 13px;
}

#main .advance-methods select {
  font-size: 13px;
}

/*button*/
#main form .submit {
  /* display: none; */
}

.warning {
  color: red;
  font-size: 12px;
  padding-top: 2px;
}

#total-count, .loading, .server-error {
  width: var(--user-card-width);
  margin: var(--padding-medium);
  font-size: 21px;
}

.user-container {
  background-color: white; 
  width: var(--user-card-width);
  height: 120px;
  margin: var(--margin-user-card);
  padding: var(--padding-small);
  box-shadow: 5px 5px 5px rgb(220, 220, 220);
}

.user-container:hover {
  box-shadow: 5px 5px 5px rgb(195, 195, 195);
}

.inner-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.info-left {
  width: var(--avatar-size);
}

.user-avatar {
  width: var(--avatar-size);
}

.info-right {
  width: var(--info-right-width);
  padding-left: var(--padding-small);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-name {
  padding-bottom: var(--padding-between-lines);
  font-size: 16px;
  font-weight: bold; 
}

.login, .email, .loc, .repo, .followers {
  font-size: 12px;
}

.email, .loc, .repo, .followers {
  padding-top: var(--padding-between-lines);
}

.user-bio {
  width: 1000px;
  padding-top: var(--padding-between-lines);
  font-size: 12px;
  overflow: hidden;
}

.fade-out {
  width: var(--fade-width);
  background-image: linear-gradient(to right, transparent, white);
}

.page-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-nav > div {
  padding: var(--padding-small)
}

.page-nav > div:hover {
  cursor: pointer;
  font-weight: bold;
  color: black;
}

.bold {
  font-weight: bold;
}

.none {
  color: rgb(100, 100, 100);
}

